body {
    background: white;
    height: 100%;
}

#header {
    display: flex;
    float: right;
}

.head-element {
    margin: 7px;
}

#main-elements {
    text-align: center;
    padding-top: 4%;
    padding-left: 28.5%;
    padding-right: 28.5%;
}

#google-logo {
    margin-bottom: 3.8%;
}

#search {
    border: 1px solid rgb(218, 218, 218);
    height: 2.7em;
    border-radius: 2em;
    margin-bottom: 8%;
}

footer{
    display: flex;
    float: left; 
    position: absolute;
    bottom: 0;
}

.footer-element {
    margin: 7px;
}
