body {
    background: white;
    min-height: 100vh;
    margin: 0 auto;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 10% 80% 10%;
}

#header {
    padding-right: 3px;
}

#header-elements {
    display: flex;
    float: right;
}

.head-element {
    display:inline;
    vertical-align: middle;
    margin-left: 7px;
}

#main-elements {
    text-align: center;
    padding-top: 4%;
}

#google-logo {
    margin-bottom: 3.8%;
}

#search {
    border: 1px solid rgb(218, 218, 218);
    height: 2.7em;
    border-radius: 2em;
    margin-bottom: 8%;
    position: relative;
}

#search-icon {
    position: absolute;
    right: 95%;
    top: 22%;
}

.search-button {
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    display: flex;
    float: left; 
    position: absolute;
    bottom: 0;
}

.footer-element {
    margin: 7px;
}
